* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url(../assets/img/livro-plantas.jpg);
}



.titulo {
    color: #000;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}


.container-input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

}


.box input {

    color: #daa520;
    background-color: #F1F1F1;
    border: none;
    box-sizing: border-box #daa520;
    width: 100%;
    height: 47px;
    border-radius: 7px;
    padding: 0 0 0 20px;
    
}

.box input::placeholder {
    font-size: 18px;
    color: #afafaf;
    
}

input:focus, select:focus {
    outline-color: #d9a520
}

.box {
    /* backdrop-filter: blur(4px); */
    margin: 0 auto;
    margin-top: 100px;
    width: 600px;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    background-color: /*transparent;*/ #ffffffe2;
    box-shadow: rgb(213, 166, 47) 0px 7px 29px 0px;
    margin-bottom: 50px;
}

.box button {
    cursor: pointer;
    width: 30%;
    padding: 10px;
    font-size: 20px;
    background: #e8b126;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.5s;
    margin-bottom: 16px;
}

 li {
    display: inline;
    padding: 0 15px;
    margin-left: 150px;
    
}

 li a{
    text-decoration: none;
    color: black;
    font-weight: bold;

    
}

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box button:hover {
    background: #daa520;
}

.mensagemErro {
    color: red;
    margin-top: 16px;
    line-height: 25px;
    font-weight: lighter;
    font-size: 16px;
}



#cadastrarse {
    display: none;
}

select{
    background-color: #ececec;
    display: block;
    width: 100%;
    height: 47px;
    font-size: 18px;
    padding: 8px 0 8px 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
}


.texto-login a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

label{
    font-weight: bold;
    margin: 16px 0 16px 8px;
    font-size: 18px;
}