.conteudo .container-image {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden; 
    margin-bottom: 5px;

}

input[type="file"]{
    display: none;

}

.container-input .btn-editar-imagem, .btn-salvar-alteracoes{
    cursor: pointer;
    background-color: #daa520 ;
    border-radius: 4px;
    padding: 8px 12px;
    border: none;
    font-size: 16px;
    transition: all .2s ease-in-out;

}

.container-input .btn-editar-imagem:hover, .btn-salvar-alteracoes:hover{
    background-color: #c59419;
}


#fotoEdicao{
    height: 120px;
}

.container-input {
    position: relative;
    margin: 12px 0;
    display: flex;
    flex-direction: column;


}
.container-input .icon-lapis{
    height: 16px;
    position: absolute;
    right: 8px;
    top: 36px;
    cursor: pointer;
}

.container-input input, select{
    padding: 8px 30px 8px 8px;
    border-radius: 4px;
    width: 206px;

}
.container-input input:disabled, select:disabled{
    cursor: no-drop;
}

.formulario{
    justify-content: flex-start;
    margin-bottom: 8px;
}

select{
    width: 244px;
}

label{
    margin: 4px 0;
}







/* não deixa vazar as informações para fora da div*; vai ficar no formato da div*/